
.wrapper {
    margin:0%;
}
table {
    display: inline;
    width: 500px;
    height: 500px;
    

}

.a00, .a01, .a02, .a10, .a11, .a12, .a20, .a21, .a22  {
    
    text-align: center;
    font-size: 22px;
    width: 100px;
    height:100px;
    color:black;
    background-color: grey;
    border-radius: 5px;
}


.bar {
    position: absolute;
    display: block;
    top:100px;
    right:600px;
    text-align:center;
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
    border-radius: 5px;
}